.container {
	width: var(--resource-badge-width);
	height: var(--resource-badge-height);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: var(--resource-badge-background-color);
	border-radius: var(--resource-badge-border-radius);
	transition: background-color 0.3s ease;
}

.container:hover {
	background-color: var(--resource-badge-hover-background-color);
}

.icon {
	width: var(--resource-badge-icon-size);
	height: var(--resource-badge-icon-size);
	box-sizing: border-box;
}

.add {
	width: var(--resource-badge-add-size);
	height: var(--resource-badge-add-size);
	box-sizing: border-box;
}

.amount {
	font-family: var(--resource-badge-amount-font-family);
	font-size: var(--resource-badge-amount-font-size);
	text-align: center;
	cursor: default;
	user-select: none;
	margin: var(--resource-badge-amount-margin);

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}