PORT=19722

# Mongo configs
USERNAME=
PASSWORD=
MONGODB_URI=

JWT_SECRET=
JWT_COOKIE_MAX_AGE_MINUTES=60

# hash password
ARGON2_HASH_LENGTH=48
ARGON2_MEMORY_COST=65536
ARGON2_TIME_COST=6
ARGON2_PARALLELISM=2