.button {
	width: var(--nav-button-size);
	height: var(--nav-button-size);
	border-radius: var(--border-radius);
	background-color: var(--nav-button-background-color);
	box-sizing: content-box;
	padding: 0;
	border: 1px solid black;
}

.button:hover {
	background-color: var(--nav-button-hover-background-color);
}

.icon {
	width: var(--nav-button-size);
	height: var(--nav-button-size);
}