.button {
	width: var(--model-button-size);
	height: var(--model-button-size);
	border-radius: var(--border-radius);
	background-color: white;
	box-sizing: content-box;
	padding: 0;
	border: 1px solid black;
}

.button:hover {
	background-color: hsl(212, 100%, 69%);
}

.icon {
	width: var(--model-button-size);
	height: var(--model-button-size);
}