.div {
	font-family: "Arial", sans-serif;
	/* background-color: #d4d3d3;
	border: 2px solid purple; */
	display: flex;
	flex-direction: column;
	width: fit-content;
	margin-bottom: 5px;
}

.label {
	margin: 0 0 4px 5px;
	font-weight: bold;
	font-size: 15px;
	letter-spacing: 0.3px;
	color: hsla(220, 89%, 46%, 0.721);
}

.input {
	width: 100%;
	max-width: 330px;
	padding: 5px 7px;
	font-size: 17px;
	border: 1px solid black;
	border-radius: 4px;
	transition: all 0.3s ease;
}

.input:focus {
	outline: none;
	border-color: hsl(230, 100%, 50%);
	box-shadow: 0 0 0 3px hsl(230, 100%, 85%);
}

.warning {
	color: hsl(5, 100%, 45%) !important;
	margin: 4px 0 0 5px;
	font-size: 13px;
	visibility: hidden;
}