.container {
	display: flex;
	flex-direction: column;
	width: fit-content;
	margin: var(--form-input-margin)
}

.container .label {
	margin: var(--form-input-label-margin);
	font-size: var(--form-input-label-font-size);
	font-weight: bold;
	letter-spacing: var(--form-input-label-letter-spacing);
	color: var(--form-input-label-color);
}

.container .input {
	width: 100%;
	max-width: var(--form-input-input-max-width);
	padding: var(--form-input-input-padding);
	border-radius: var(--form-input-input-border-radius);
	border: 1px solid black;
	font-size: var(--form-input-input-font-size);
	transition: all 0.3s ease;
}

.container .input:focus {
	outline: none;
	border-color: var(--form-input-input-focus-border-color);
	box-shadow: var(--form-input-input-focus-box-shadow);
}

.container .warning {
	color: var(--form-input-warning-color) !important;
	margin: var(--form-input-warning-margin);
	font-size: var(--form-input-warning-font-size);
}