.signin-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: fit-content;
	border: var(--auth-form-border);
	border-radius: var(--sign-in-page-border-radius);
	background-color: var(--auth-form-background-color);
	padding: var(--auth-form-padding);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.signin-box h2 {
	width: fit-content;
	margin: var(--auth-form-title-margin);
	font-size: var(--auth-form-title-font-size);
	font-weight: var(--auth-form-title-font-weight);
}

.signin-box .form-container input {
	width: var(--auth-form-input-width);
}

.signin-box form button[type="submit"] {
	display: block;
	margin: var(--auth-form-submit-button-margin);
	font-size: var(--auth-form-submit-button-font-size);
	cursor: var(--auth-form-submit-button-cursor);
	background-color: var(--auth-form-submit-button-background-color);
	color: var(--auth-form-submit-button-color);
	padding: var(--auth-form-submit-button-padding);
	border-radius: var(--sign-in-page-submit-button-border-radius);
	border: none;
	transition: all 0.3s ease;
}

.signin-box form button[type="submit"]:hover {
	background-color: var(--auth-form-submit-button-hover-background-color);
}

.signin-box p.signup-text a,
.signin-box p.signup-text a:visited {
	text-decoration: none;
	color: var(--auth-form-nav-link-color);
}