.div {
	display: flex;
	align-items: center;
	gap: var(--top-bar-group-gap);
}

.div .button {
	width: calc(1.5 * var(--back-button-size));
	height: var(--back-button-size);
	padding: 0;
	border: 0;
	background-color: var(--back-button-background-color);
	border-radius: var(--back-button-border-radius);
	transition: background-color 0.3s ease;
}

.div .button:hover {
	background-color: var(--back-button-hover-background-color);
}

.div .button .icon {
	width: calc(var(--back-button-size) - var(--back-button-border-radius) * 1);
	height: calc(var(--back-button-size) - var(--back-button-border-radius) * 1);
}

.div .p {
	font-size: var(--screen-name-font-size);
	text-transform: uppercase;
	margin: 0 0 0 0.5vw;
	cursor: default;
	user-select: none;
}