.div {
	display: flex;
	align-items: center;
	gap: 0.7vw;
	border: 1px solid black;
}

.button {
	width: calc(1.5 * var(--back-button-size));
	height: var(--back-button-size);
	padding: 0;
	border: 0;
	background-color: hsl(212, 100%, 69%);
	border-radius: var(--back-button-border-radius);

	transition: background-color 0.3s ease;
}

.button:hover {
	background-color: hsl(212, 100%, 49%);
}

.icon {
	width: calc(var(--back-button-size) - var(--back-button-border-radius) * 1.2);
	height: calc(var(--back-button-size) - var(--back-button-border-radius) * 1.2);
}

.p {
	font-size: 1.8rem;
	text-transform: uppercase;
	margin: 0;
	cursor: default;
	user-select: none;
}