.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.primary {
	position: relative;
	flex: 1;
}

.playBtn {
	display: flex;
	flex-direction: column;
	padding: var(--home-page-play-btn-padding);

	position: absolute;
	top: 50%;
	right: 8%;
	transform: translateY(-50%);

	border: none;
	background-color: var(--home-page-play-btn-bg-color);
	border-radius: var(--border-radius);
	font-size: var(--home-page-play-btn-font-size);

	:nth-child(2) {
		font-size: var(--home-page-play-btn-sub-font-size);
	}
}

.nav {
	position: absolute;
	bottom: 0%;
	left: 50%;
	transform: translateX(-50%);

	display: flex;
	gap: var(--home-page-nav-gap);
	padding: var(--home-page-nav-padding);

	border-radius: var(--border-radius);
	background-color: var(--home-page-nav-bg-color);
	margin: var(--home-page-nav-margin);

	button {
		border: none;
		text-align: center;
		height: var(--home-page-nav-btn-height);
		aspect-ratio: var(--home-page-nav-btn-aspect-ratio);
		background-color: var(--home-page-nav-btn-bg-color);
		border-radius: var(--border-radius);
		font-size: var(--home-page-nav-btn-font-size);
	}
}