:root {
	/* TODO: use a monospace font */
	/* font-family: Ginto, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji; */

	/* Global */
	--border-radius: 5px;
	--font-family: "Arial", sans-serif;
	--font-size: 16px;

	/* Colors */
	--color-primary-10: hsl(210, 100%, 95%);
	--color-primary-20: hsl(209, 100%, 92%);
	--color-primary-30: hsl(207, 100%, 85%);
	--color-primary-40: hsl(210, 100%, 73%);
	--color-primary-50: hsl(211, 84%, 63%);
	--color-primary-60: hsl(212, 80%, 53%);
	--color-primary-70: hsl(214, 78%, 46%);
	--color-text-10: hsl(0, 0%, 11%);
	--color-error: hsl(349, 100%, 48%);

	/* Component specific */
	--form-input-margin: 0 0 5px 0;
	--form-input-label-margin: 0 0 4px 5px;
	--form-input-label-font-size: 15px;
	--form-input-label-letter-spacing: 0.3px;
	--form-input-label-color: hsl(220, 76%, 61%);
	--form-input-input-max-width: 330px;
	--form-input-input-font-size: 17px;
	--form-input-input-padding: 5px 7px;
	--form-input-input-focus-border-color: var(--color-primary-50);
	--form-input-input-focus-box-shadow: 0 0 0 3px var(--color-primary-30);
	--form-input-warning-font-size: 13px;
	--form-input-warning-color: var(--color-error);
	--form-input-warning-margin: 4px 5px 0 5px;

	--auth-form-padding: 20px;
	--auth-form-background-color: var(--color-primary-10);
	--auth-form-border: 1px solid black;
	--auth-form-input-width: 330px;
	--auth-form-title-margin: 0 auto 20px;
	--auth-form-title-font-size: 50px;
	--auth-form-title-font-weight: lighter;
	--auth-form-submit-button-font-size: 1.5rem;
	--auth-form-submit-button-margin: 7px auto;
	--auth-form-submit-button-cursor: pointer;
	--auth-form-submit-button-padding: 5px 45px;
	/* TODO: these colors suck */
	--auth-form-submit-button-color: white;
	--auth-form-submit-button-background-color: hsla(220, 88%, 50%, 0.721);
	--auth-form-submit-button-hover-background-color: hsl(220, 88%, 55%);
	--auth-form-nav-link-color: hsla(220, 89%, 46%, 0.85);

	--resource-badge-width: 160px;
	--resource-badge-height: 32px;
	--resource-badge-icon-size: 32px;
	--resource-badge-add-size: calc(0.8 * var(--resource-badge-icon-size));
	--resource-badge-background-color: var(--color-primary-30);
	--resource-badge-hover-background-color: var(--color-primary-40);
	--resource-badge-amount-font-family: "Roboto", sans-serif;
	--resource-badge-amount-font-size: 15px;
	--resource-badge-amount-margin: 0 5px;

	--top-bar-min-height: 8vh;
	--top-bar-max-height: 11vh;
	--top-bar-background-color: var(--color-primary-20);
	--top-bar-group-gap: 7px;
	--top-bar-padding: 0 0.7vw;

	--back-button-size: 42px;
	--back-button-border-radius: 7px;
	--back-button-background-color: var(--color-primary-50);
	--back-button-hover-background-color: var(--color-primary-70);

	--screen-name-font-size: 1.7rem;

	--nav-button-size: 32px;
	--nav-button-background-color: var(--color-primary-30);
	--nav-button-hover-background-color: var(--color-primary-40);

	--shop-category-height: 10vh;
	--shop-category-gap: 9%;
	--shop-category-padding: 0 5% 0 7%;
	--shop-category-border: 3px solid blueviolet;
	--shop-category-icon-size: 70%;
	--shop-category-text-margin: 0;

	--shop-item-width: 15vw;
	--shop-item-aspect-ratio: 1 / 1.42;
	--shop-item-background-color: var(--color-primary-30);
	--shop-item-icon-width: 50%;
	--shop-item-icon-aspect-ratio: 1 / 1;
	--shop-item-icon-margin: 0 auto;
	--shop-item-name-margin: 0;
	--shop-item-price-gap: 10px;
	--shop-item-price-icon-size: 30px;
	--shop-item-price-icon-aspect-ratio: 1 / 1;
	--shop-item-price-text-margin: 0;

	/* Page specific */
	--shop-page-left-bar-width: 17vw;
	--shop-page-item-section-width: 83vw;
	--shop-page-left-bar-background-color: beige;
	--shop-page-left-bar-gap: 1.5vh;
	--shop-page-left-bar-padding: 5vh 0;
	--shop-page-item-section-gap: 3%;
	--shop-page-item-section-padding: 3%;

	/*  */
	font-family: var(--font-family);
	font-size: var(--font-size);
	color: var(--color-text-10);
}

body {
	margin: 0;
	background-color: var(--color-primary-10);
}