:root {
	/* TODO: use a monospace font */
	/* TODO: extract border radius */
	/* font-family: Ginto, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji; */


	/* Global */
	--border-radius: 5px;
	--font-family: "Arial", sans-serif;
	--font-size: 16px;


	/* Colors */
	--color-transparent: rgba(0, 0, 0, 0);
	--color-primary-10: hsl(210, 100%, 95%);
	--color-primary-20: hsl(209, 100%, 92%);
	--color-primary-30: hsl(207, 100%, 85%);
	--color-primary-40: hsl(210, 100%, 73%);
	--color-primary-50: hsl(211, 84%, 63%);
	--color-primary-60: hsl(212, 80%, 53%);
	--color-primary-70: hsl(214, 78%, 46%);
	--color-text-10: hsl(0, 0%, 11%);
	--color-error: hsl(349, 100%, 48%);


	/* ------- Component specific ------- */
	--form-input-margin: 0 0 5px 0;
	--form-input-label-margin: 0 0 4px 5px;
	--form-input-label-font-size: 15px;
	--form-input-label-letter-spacing: 0.3px;
	--form-input-label-color: hsl(220, 76%, 61%);
	--form-input-input-max-width: 330px;
	--form-input-input-font-size: 17px;
	--form-input-input-padding: 5px 7px;
	--form-input-input-border-radius: var(--border-radius);
	--form-input-input-focus-border-color: var(--color-primary-50);
	--form-input-input-focus-box-shadow: 0 0 0 3px var(--color-primary-30);
	--form-input-warning-font-size: 13px;
	--form-input-warning-color: var(--color-error);
	--form-input-warning-margin: 4px 5px 0 5px;


	--auth-form-padding: 20px;
	--auth-form-background-color: var(--color-primary-10);
	--auth-form-border: 1px solid black;
	--auth-form-input-width: 330px;
	--auth-form-title-margin: 0 auto 20px;
	--auth-form-title-font-size: 50px;
	--auth-form-title-font-weight: lighter;
	--auth-form-submit-button-font-size: 1.5rem;
	--auth-form-submit-button-margin: 7px auto;
	--auth-form-submit-button-cursor: pointer;
	--auth-form-submit-button-padding: 5px 45px;
	/* TODO: these colors suck */
	--auth-form-submit-button-color: white;
	--auth-form-submit-button-background-color: hsla(220, 88%, 50%, 0.721);
	--auth-form-submit-button-hover-background-color: hsl(220, 88%, 55%);
	--auth-form-nav-link-color: hsla(220, 89%, 46%, 0.85);


	--modal-overlay-z-index: 20000;
	--modal-overlay-background-color: rgba(0, 0, 0, 0.52);
	--modal-min-width: 30vw;
	--modal-min-height: 30vh;
	--modal-max-width: 65vw;
	--modal-max-height: 65vh;
	--modal-title-font-size: 1.4rem;
	--modal-top-bar-background-color: var(--color-primary-40);
	--modal-top-bar-min-height: 5vh;
	--modal-close-button-height: 6vh;
	--modal-close-button-img-size: 65%;
	--modal-content-background-color: var(--color-primary-20);
	--modal-content-max-height: 50vh;
	--modal-action-container-height: 7vh;
	--modal-action-container-background-color: var(--color-primary-30);
	--modal-action-container-padding: 0 10px;
	--modal-action-container-gap: 1rem;
	--modal-action-button-padding: 5px 30px;
	--modal-action-button-font-size: 1rem;
	--modal-action-button-border-radius: var(--border-radius);
	--modal-action-button-background-color: hsl(0, 0%, 70%);
	--modal-action-button-hover-background-color: hsl(0, 0%, 55%);
	/* Modal content component: Item */
	--modal-content-item-visual-section-width: 12vw;
	--modal-content-item-visual-section-gap: 0.9vh;
	--modal-content-item-amount-owned-font-size: 0.9rem;
	--modal-content-item-amount-owned-font-style: italic;
	--modal-content-item-detail-section-width: 23vw;
	--modal-content-item-detail-section-height: 26vh;
	--modal-content-item-detail-section-padding-top: 4%;
	--modal-content-item-item-name-font-weight: bold;
	--modal-content-item-item-name-font-size: 1.15rem;
	--modal-content-item-item-name-margin-bottom: 1.1vh;
	--modal-content-item-icon-size: 9.2vw;


	--resource-badge-width: 160px;
	--resource-badge-height: 32px;
	--resource-badge-icon-size: 32px;
	--resource-badge-border-radius: var(--border-radius);
	--resource-badge-add-size: calc(0.8 * var(--resource-badge-icon-size));
	--resource-badge-background-color: var(--color-primary-30);
	--resource-badge-hover-background-color: var(--color-primary-40);
	--resource-badge-amount-font-family: "Roboto", sans-serif;
	--resource-badge-amount-font-size: 15px;
	--resource-badge-amount-margin: 0 5px;


	--top-bar-height: 9vh;
	--top-bar-background-color: var(--color-primary-20);
	--top-bar-group-gap: 7px;
	--top-bar-padding: 0 0.7vw;


	--back-button-size: 42px;
	--back-button-border-radius: 7px;
	--back-button-background-color: var(--color-primary-50);
	--back-button-hover-background-color: var(--color-primary-70);

	--screen-name-font-size: 1.7rem;

	--nav-button-size: 32px;
	--nav-button-border-radius: var(--border-radius);
	--nav-button-background-color: var(--color-primary-30);
	--nav-button-hover-background-color: var(--color-primary-40);


	--shop-category-height: 10vh;
	--shop-category-gap: 9%;
	--shop-category-padding: 0 5% 0 7%;
	--shop-category-border: 3px solid blueviolet;
	--shop-category-border-radius: var(--border-radius);
	--shop-category-icon-size: 70%;
	--shop-category-text-margin: 0;


	--shop-item-width: 14vw;
	--shop-item-aspect-ratio-width: 1;
	--shop-item-aspect-ratio-height: 1.42;
	--shop-item-padding: 10% 0 0;
	--shop-item-background-color: var(--color-primary-30);
	--shop-item-icon-size: 8vw;
	--shop-item-icon-margin: 15% auto 0;
	--shop-item-name-margin: 10% 0 10%;
	--shop-item-price-container-margin: auto auto 20%;
	--shop-item-price-gap: 15px;
	--shop-item-price-icon-size: 30px;
	--shop-item-price-icon-aspect-ratio: 1 / 1;
	--shop-item-price-text-margin: 0;


	--inventory-item-size: 8vw; /* Must be absolute */
	--inventory-item-quantity-font-size: 1.2rem;


	/* ------- Page specific ------- */
	--shop-page-left-bar-width: 17vw;
	--shop-page-left-bar-background-color: beige;
	--shop-page-left-bar-gap: 1.5vh;
	--shop-page-left-bar-padding: 5vh 0;
	--shop-page-grid-row-height: calc(1.14 *
		var(--shop-item-width) * var(--shop-item-aspect-ratio-height) / var(--shop-item-aspect-ratio-width)
	);


	--sign-in-page-border-radius: var(--border-radius);
	--sign-in-page-submit-button-border-radius: var(--border-radius);


	--sign-up-page-border-radius: var(--border-radius);
	--sign-up-page-submit-button-border-radius: var(--border-radius);


	--inventory-page-primary-section-width: 60vw;
	--inventory-page-primary-section-item-detail-width: 85%;
	--inventory-page-primary-section-skew-degree: 5deg;
	--inventory-page-primary-section-item-icon-height: 37%;
	--inventory-page-primary-section-item-icon-margin: 1.5rem 0 2rem;
	--inventory-page-primary-section-item-header-margin: 0 0 1.4rem 0;
	--inventory-page-primary-section-item-header-padding: 0 0.7rem;
	--inventory-page-primary-section-item-header-background-color: hsl(213, 33%, 36%);
	--inventory-page-primary-section-item-type-font-size: 1.2rem;
	--inventory-page-primary-section-item-type-padding: 0.3rem 0.6rem;
	--inventory-page-primary-section-item-type-background-color: white;
	--inventory-page-primary-section-item-name-font-size: 1.6rem;
	--inventory-page-primary-section-item-name-height: calc(2 * var(--inventory-page-primary-section-item-name-font-size) * 1.2);
	--inventory-page-primary-section-item-name-margin: calc(0.65 * var(--inventory-page-primary-section-item-type-font-size)) 0.65rem 0 0;
	--inventory-page-primary-section-item-name-color: white;
	--inventory-page-primary-section-item-name-padding: 0 0.3rem;
	--inventory-page-primary-section-item-quantity-background-color: hsl(218, 48%, 17%);
	--inventory-page-primary-section-item-quantity-padding: 0.5rem;
	--inventory-page-primary-section-item-quantity-owned-font-size: 0.9rem;
	--inventory-page-primary-section-item-quantity-quantity-font-size: 1.2rem;
	--inventory-page-primary-section-item-quantity-span-owned-color: hsla(0, 0%, 100%, 0.822);
	--inventory-page-primary-section-item-quantity-span-quantity-color: hsl(195, 97%, 73%);
	--inventory-page-primary-section-item-description-font-size: 1.2rem;
	--inventory-page-primary-section-item-description-text-decoration: underline solid hsl(0, 1%, 58%) 2px;
	/* It's slightly off to the left, therefore this weird padding */
	--inventory-page-primary-section-item-quantity-span-quantity-padding: 0 0 0 0.15rem;
	--inventory-page-secondary-section-padding: 2vh 0;
	--inventory-page-secondary-section-item-grid-size: calc(1.15 * var(--inventory-item-size));
	--inventory-page-secondary-section-gap: 5px;
	--inventory-page-secondary-section-select-item-font-size: 1.15rem;


	/* --------------- */
	font-family: var(--font-family);
	font-size: var(--font-size);
	color: var(--color-text-10);
}

body {
	margin: 0;
	background-color: var(--color-primary-10);
}