.container {
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: var(--shop-page-left-bar-width) 1fr;
	grid-template-areas:
		"topBar topBar"
		"leftBar contentSection";
}

.container .topBar {
	grid-area: topBar;
}

.container .leftBar {
	grid-area: leftBar;
	background-color: var(--shop-page-left-bar-background-color);
	display: flex;
	flex-direction: column;
	gap: var(--shop-page-left-bar-gap);
	padding: var(--shop-page-left-bar-padding);

	overflow-y: scroll;
	scrollbar-width: none;
}