.container {
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr;
	grid-template-columns: var(--shop-page-left-bar-width) auto;
	grid-template-areas:
		"topBar topBar"
		"leftBar itemSection";
}

.container .topBar {
	grid-area: topBar;
}

.container .leftBar {
	grid-area: leftBar;
	background-color: var(--shop-page-left-bar-background-color);
	display: flex;
	flex-direction: column;
	gap: var(--shop-page-left-bar-gap);
	padding: var(--shop-page-left-bar-padding);
	overflow-y: scroll;
	scrollbar-width: none;
}

.container .itemSection {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: var(--shop-page-grid-row-height);
	place-items: center;
	/* overflow-y: scroll;
	scrollbar-width: none; */
}