.overlay {
	z-index: calc(var(--modal-overlay-z-index) + 100);
	background-color: var(--modal-overlay-background-color);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	user-select: none;
	display: grid;
	place-items: center;
}

.overlay span {
	color: var(--modal-mf-color);
	font-size: var(--modal-mf-font-size);
}