.container {
	height: var(--shop-category-height);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: var(--shop-category-gap);
	padding: var(--shop-category-padding);
	border: var(--shop-category-border);
	border-radius: var(--shop-category-border-radius);
	cursor: default;
	user-select: none;
}

.containerActive {
	border: var(--shop-category-active-border);
}

.icon {
	height: var(--shop-category-icon-size);
	aspect-ratio: 1 / 1;
	object-fit: fill;
}

.text {
	margin: 0;
}